import(sva)
import(corpcor)
import(MASS)
importFrom("grDevices", "dev.off", "png")
importFrom("graphics", "legend", "matplot")
importFrom("stats", "mad", "pf", "pnorm", "sd")
export("leapp")
export("AlternateSVD")
export("FindAUC")
export("FindFpr")
export("FindTpr")
export("FindPrec")
export("FindRec")
export("IPOD")
export("IPODFUN")
export("ROCplot")
export("ridge")
